<a href="https://colab.research.google.com/github/AnthoMant/Creuse-Movie-Project/blob/main/Base_de_donn%C3%A9e_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#data viz
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px 
import plotly.graph_objects as go

#preprocess
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.utils import resample
from sklearn.model_selection import train_test_split

#models
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

#metrics 
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve
from sklearn.metrics import f1_score, precision_score,recall_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

#autres:
import time
import math as m
from scipy.spatial import distance
from google.colab import drive

##Importation des bases de données

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_noFilter=pd.read_csv('/content/drive/MyDrive/df_final.csv')
title_crew = pd.read_csv('https://datasets.imdbws.com/title.crew.tsv.gz', sep='\t')
title_principals = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz', sep='\t')

In [7]:
df_noFilter

        Unnamed: 0     tconst  ... numVotes  decade
0             5013  tt0005076  ...       49    1920
1             8810  tt0008933  ...       12    1920
2             9639  tt0009771  ...       15    1920
3             9922  tt0010058  ...       11    1920
4            10186  tt0010323  ...    58202    1920
...            ...        ...  ...      ...     ...
213133     7823839  tt9916160  ...       41    2010
213134     7823853  tt9916190  ...      140    2020
213135     7823892  tt9916270  ...     1014    2020
213136     7823937  tt9916362  ...     2937    2020
213137     7824022  tt9916538  ...        6    2010

[213138 rows x 9 columns]

In [5]:
title_crew

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
7872538  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7872539  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7872540  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7872541  tt9916856           nm10538645                      nm6951431
7872542  tt9916880            nm0996406            nm1482639,nm2586970

[7872543 rows x 3 columns]

In [12]:
title_principals

             tconst  ...                 characters
0         tt0000001  ...                   ["Self"]
1         tt0000001  ...                         \N
2         tt0000001  ...                         \N
3         tt0000002  ...                         \N
4         tt0000002  ...                         \N
...             ...  ...                        ...
44525535  tt9916880  ...                         \N
44525536  tt9916880  ...                         \N
44525537  tt9916880  ...                         \N
44525538  tt9916880  ...                         \N
44525539  tt9916880  ...  ["Mum","Tidy Ted","Fang"]

[44525540 rows x 6 columns]

## Ajout des "Actor/Actress" à la base de donnée

In [13]:
title_actor=title_principals[(title_principals["category"].str.contains("actor"))|(title_principals["category"].str.contains("actress"))]

In [ ]:
title_actor.drop(["ordering","category","job","characters"], axis=1 , inplace=True)

In [16]:
title_actor

             tconst      nconst
11        tt0000005   nm0443482
12        tt0000005   nm0653042
16        tt0000007   nm0179163
17        tt0000007   nm0183947
21        tt0000008   nm0653028
...             ...         ...
44525531  tt9916880   nm1483166
44525532  tt9916880   nm0254176
44525533  tt9916880   nm0286175
44525534  tt9916880  nm10535738
44525539  tt9916880   nm1052583

[17748518 rows x 2 columns]

In [17]:
df_noFilter=df_noFilter.merge(title_actor, how='inner', on='tconst')

In [ ]:
# concatenate the string
df_noFilter['nconst'] = df_noFilter.groupby(['tconst'])['nconst'].transform(lambda x : ','.join(x))
  
# drop duplicate data
df_noFilter = df_noFilter.drop_duplicates()

##Ajout des "directors" à la base de donnée

In [20]:
df_noFilter=df_noFilter.merge(title_crew, how='inner', on='tconst')

##Suppresion des colonnes inutiles

In [22]:
df_noFilter.drop("Unnamed: 0",axis=1,inplace=True)

In [23]:
df_noFilter.drop("writers",axis=1,inplace=True)

##Modification du nom de la colonne "nconst"

In [26]:
df_noFilter.columns = ["tconst","originalTitle","startYear","runtimeMinutes","genres","averageRating","numVotes","decade","actors","directors"]

In [27]:
df_noFilter

           tconst  ...            directors
0       tt0005076  ...            nm0796657
1       tt0008933  ...  nm0296193,nm0118266
2       tt0009771  ...            nm0002031
3       tt0010058  ...            nm0861336
4       tt0010323  ...            nm0927468
...           ...  ...                  ...
191455  tt9915872  ...            nm8063415
191456  tt9916190  ...            nm7308376
191457  tt9916270  ...            nm1480867
191458  tt9916362  ...            nm1893148
191459  tt9916538  ...            nm4457074

[191460 rows x 10 columns]

##Verification des /N

In [29]:
df_noFilter[df_noFilter["directors"]=="\\N"]

           tconst  ... directors
437     tt0014228  ...        \N
11208   tt0037854  ...        \N
14462   tt0043289  ...        \N
16345   tt0046222  ...        \N
22449   tt0055215  ...        \N
...           ...  ...       ...
190040  tt9387300  ...        \N
190192  tt9448868  ...        \N
190224  tt9461496  ...        \N
190283  tt9486348  ...        \N
190380  tt9537066  ...        \N

[451 rows x 10 columns]

Pour le bon fonctionnement de notre modeles, nous décidons de supprimer les /N

In [30]:
df_noFilter.drop(df_noFilter.loc[df_noFilter["directors"]=='\\N'].index, inplace=True)

##Exportation de la base de donnée

In [31]:
df_noFilter.to_csv('df_final_projet2.csv')
!cp df_final_projet2.csv "drive/My Drive/"