<a href="https://colab.research.google.com/github/AnthoMant/Creuse-Movie-Project/blob/main/D%C3%A9mo_KNN_finale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Imports, CSV, fonction

## Import des modules

In [ ]:
#data viz
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px 
import plotly.graph_objects as go

#preprocess
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.utils import resample
from sklearn.model_selection import train_test_split

#models
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

#metrics 
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve
from sklearn.metrics import f1_score, precision_score,recall_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

#autres:
import time
import math as m
from scipy.spatial import distance
from google.colab import drive

## Import Drive et CSV

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_top =pd.read_csv('/content/drive/MyDrive/CREUSE MOVIE PROJECT/Base de donnée/df_sample_top.csv')
df_filter = pd.read_csv('/content/drive/MyDrive/CREUSE MOVIE PROJECT/Base de donnée/df_top_filter.csv')

df_final_csv = pd.read_csv('/content/drive/MyDrive/CREUSE MOVIE PROJECT/df_final_projet2.csv')

In [ ]:
df_filter.drop(labels=['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
df_final_csv

### Supprimer la nouvelle colonne inutile

In [ ]:
df_final_csv.drop(labels=['Unnamed: 0'],axis=1,inplace=True)

### Dummies sur les genres

In [ ]:
df_final = pd.concat([df_final_csv.drop('genres', 1), df_final_csv['genres'].str.get_dummies(sep=",")], 1)

### Factorize sur les directors

In [ ]:
#Remplacer la colonne 'directors' par la même en factorisée/encodée
df_final['directors'] = df_final['directors'].factorize()[0]

In [ ]:
df_final

           tconst                 originalTitle  ...  War  Western
0       tt0005076                Charley's Aunt  ...    0        0
1       tt0008933         Die Brüder Karamasoff  ...    0        0
2       tt0009771                  A víg özvegy  ...    0        0
3       tt0010058              The Deadlier Sex  ...    0        0
4       tt0010323  Das Cabinet des Dr. Caligari  ...    0        0
...           ...                           ...  ...  ...      ...
191004  tt9915872     My Girlfriend is a Wizard  ...    0        0
191005  tt9916190                     Safeguard  ...    0        0
191006  tt9916270      Il talento del calabrone  ...    0        0
191007  tt9916362                      Akelarre  ...    0        0
191008  tt9916538           Kuambil Lagi Hatiku  ...    0        0

[191009 rows x 33 columns]

## Initialiser fonction reco_to_list

In [ ]:
def reco_to_list(reco_):
  len(reco_[0])
  liste_id = []
  for n in range(len(reco_[0])):
    liste_id.append(reco_[0][n])
  return liste_id

# Modèles KNN

## KNN Genres

In [ ]:
X_genre = df_final[['Action','Adventure','Animation','Biography','Comedy','Crime','Documentary','Drama','Family',
              'Fantasy','Film-Noir','History','Horror','Music','Musical','Mystery','Reality-TV','Romance',
              'Sci-Fi','Sport','Talk-Show','Thriller','War','Western']]

y = df_final['tconst']

model_genre = KNeighborsClassifier(weights='uniform')

model_genre.fit(X_genre,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

## KNN DIRECTORS+DATE

In [ ]:
X_director_date = df_final[['directors','decade']]

y = df_final['tconst']

model_director_date = KNeighborsClassifier(weights='uniform')

model_director_date.fit(X_director_date,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

## KNN Genres + Date

In [ ]:
#Output 2 : même genre + même "décennie"     

X_genre_date = df_final[['decade','Action','Adventure','Animation','Biography','Comedy','Crime','Documentary','Drama','Family',
              'Fantasy','Film-Noir','History','Horror','Music','Musical','Mystery','Reality-TV','Romance',
              'Sci-Fi','Sport','Talk-Show','Thriller','War','Western']]

y = df_final['tconst']

model_genre_date = KNeighborsClassifier(weights='uniform')

model_genre_date.fit(X_genre_date,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

## KNN TopRating + Genres

In [ ]:
#Pas besoin ! c'est le même modèle, la différence est qu'on n'appellera pas le même output pour afficher

## KNN TopRating + director

In [ ]:
X_director = df_final[['directors']]

y = df_final['tconst']

model_director = KNeighborsClassifier(weights='uniform')

model_director.fit(X_director,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

## KNN TopRating + Genres + Date

In [ ]:
X_genre_date = df_final[['decade','Action','Adventure','Animation','Biography','Comedy','Crime','Documentary','Drama','Family',
              'Fantasy','Film-Noir','History','Horror','Music','Musical','Mystery','Reality-TV','Romance',
              'Sci-Fi','Sport','Talk-Show','Thriller','War','Western']]

y = df_final['tconst']

model_genre_date = KNeighborsClassifier(weights='uniform')

model_genre_date.fit(X_genre_date,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

# Recherche par nom de film (prototype..)

### Liste de films pour démo

In [ ]:
matrix_id = 'tt0133093'
pulp_fiction_id = 'tt0110912'
trois_frères_id = 'tt0114732'
il_talento_id = 'tt9916270'

matrix_title = 'The Matrix'
pulp_fiction_title = 'Pulp Fiction'
il_talento_title = 'Il talento del calabrone'
trois_frères_title = 'Les trois frères'

In [ ]:
print('Recherchez un film par son nom')
user_search = input()

Recherchez un film par son nom
Pulp Fiction

In [ ]:
"""
user_search_capi = user_search.capitalize()
user_search_capi
"""

In [ ]:
user_search

In [ ]:
#Définir un "contain" si l'utilisateur ne met pas le bon nom de film

df_final[(df_final['originalTitle'].str.contains(user_search))]

          tconst  ... Western
33332  tt0110912  ...       0
74089  tt0485978  ...       0

[2 rows x 32 columns]

# **Confirmez le titre EXACT dans film_user**

In [ ]:
matrix_id = 'tt0133093'
pulp_fiction_id = 'tt0110912'
trois_frères_id = 'tt0114732'
il_talento_id = 'tt9916270'

matrix_title = 'The Matrix'
pulp_fiction_title = 'Pulp Fiction'
il_talento_title = 'Il talento del calabrone'
trois_frères_title = 'Les trois frères'

In [ ]:
film_user = 'Pulp Fiction'

### Rechercher tconst <> originalTitle

In [ ]:
#df_final[df_final['originalTitle']== trois_frères_title]

In [ ]:
#df_final[df_final['tconst']== 'tt0114732']

## Variables contenant les résultats de recommandation (x nombre de modèles)

In [ ]:
#Appel des voisins basés sur GENRE
distance_genre, id_proches_genre = model_genre.kneighbors(X_genre.loc[df_final["originalTitle"]== film_user],n_neighbors=10)

#Appel des voisins basés sur DIRECTOR+DATE
distance_director_date, id_proches_director_date = model_director_date.kneighbors(X_director_date.loc[df_final["originalTitle"]== film_user],n_neighbors=10)


#Appel des voisins basés sur GENRE+DATE
distance_genre_date, id_proches_genre_date = model_genre_date.kneighbors(X_genre_date.loc[df_final["originalTitle"]== film_user],n_neighbors=10)


#Appel des voisins TOPRATING + GENRE
distance_top_genre, id_proches_top_genre = model_genre.kneighbors(X_genre.loc[df_final["originalTitle"]== film_user],n_neighbors=100)

#Appel des voisins TOPRATING + DIRECTOR
distance_top_director, id_proches_top_director = model_director.kneighbors(X_director.loc[df_final["originalTitle"]== film_user],n_neighbors=100)

#Appel des voisis TOPRATING+GENRE+DATE
distance_top_genre_date, id_proches_top_genre_date = model_genre_date.kneighbors(X_genre_date.loc[df_final["originalTitle"]== film_user],n_neighbors=100)

# Affichage des recommandations

### Reco genres

In [ ]:
df_final.iloc[reco_to_list(id_proches_genre)]

### Reco realisator+date

In [ ]:
df_final.iloc[reco_to_list(id_proches_director_date)]

### Reco genres date

In [ ]:
df_final.iloc[reco_to_list(id_proches_genre_date)]

          tconst                    originalTitle  ...  War  Western
50233  tt0105114                    El patrullero  ...    0        0
50440  tt0105508                            Swoon  ...    0        0
50300  tt0105235  Requiem pour un beau sans-coeur  ...    0        0
62613  tt0150488         Everybody Loves Sunshine  ...    0        0
74381  tt0214238                         Un crime  ...    0        0
74535  tt0215196                  Split Wide Open  ...    0        0
50320  tt0105275                   Romper Stomper  ...    0        0
50032  tt0104693                  Laws of Gravity  ...    0        0
74257  tt0213061                        Loanshark  ...    0        0
50411  tt0105450                    South Central  ...    0        0

[10 rows x 33 columns]

### Reco TOP genres

In [ ]:
df_final.iloc[reco_to_list(id_proches_top_genre)].sort_values(by=['averageRating'], ascending = False).head(10)

          tconst              originalTitle  startYear  ...  Thriller  War  Western
7075   tt0030673  The Return of Carol Deane       1938  ...         0    0        0
2047   tt0020793      A Cottage on Dartmoor       1929  ...         0    0        0
6708   tt0029957            La bête humaine       1938  ...         0    0        0
10317  tt0036366                  Smart Guy       1943  ...         0    0        0
8418   tt0033089                 The Spider       1940  ...         0    0        0
2555   tt0021873            Five Star Final       1931  ...         0    0        0
2034   tt0020762         Children of Chance       1930  ...         0    0        0
1838   tt0020269                 Piccadilly       1929  ...         0    0        0
3385   tt0023638            Under-Cover Man       1932  ...         0    0        0
6776   tt0030100        Entrée des artistes       1938  ...         0    0        0

[10 rows x 33 columns]

### Reco TOP realisator

In [ ]:
df_final.iloc[reco_to_list(id_proches_top_director)].sort_values(by=['averageRating'], ascending = False).head(10)

           tconst                     originalTitle  ...  War  Western
52813   tt0110912                      Pulp Fiction  ...    0        0
136358  tt1853728                  Django Unchained  ...    0        1
93387   tt0361748              Inglourious Basterds  ...    1        0
50301   tt0105236                    Reservoir Dogs  ...    0        0
82031   tt0266697                 Kill Bill: Vol. 1  ...    0        0
95151   tt0378194                 Kill Bill: Vol. 2  ...    0        0
156195  tt3460252                 The Hateful Eight  ...    0        0
180467  tt7131622  Once Upon a Time... in Hollywood  ...    0        0
56291   tt0119396                      Jackie Brown  ...    0        0
55702   tt0118015                 Un air de famille  ...    0        0

[10 rows x 33 columns]

### Reco TOP genres dates

In [ ]:
df_final.iloc[reco_to_list(id_proches_top_genre_date)].sort_values(by=['averageRating'], ascending = False).head(10)

### Appendix (tests-train)

In [ ]:
df_final.head()

      tconst                 originalTitle  startYear  ...  Thriller  War  Western
0  tt0005076                Charley's Aunt       1925  ...         0    0        0
1  tt0008933         Die Brüder Karamasoff       1920  ...         0    0        0
2  tt0009771                  A víg özvegy       1920  ...         0    0        0
3  tt0010058              The Deadlier Sex       1920  ...         0    0        0
4  tt0010323  Das Cabinet des Dr. Caligari       1920  ...         0    0        0

[5 rows x 33 columns]