<a href="https://colab.research.google.com/github/AnthoMant/Creuse-Movie-Project/blob/main/Nettoyage_pr%C3%A9liminaire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

#Importation des bases de données

In [ ]:
title_rating=pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', sep='\t')#Je charge mon DataSet

title_basics=pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', sep='\t')#Je charge mon DataSet

#Jointure entre les deux bases de données

In [3]:
title_rating.shape#Vérification du nombre de ligne est colonnes

(1148911, 3)

In [5]:
title_basics.shape#Vérification du nombre de ligne est colonnes

(7872543, 9)

In [6]:
global_title=pd.merge(title_basics ,title_rating,how="left", left_on="tconst" , right_on="tconst")#J'ajoute la note du film ainsi que le nombres de votes

#Nettoyage préliminaire de la base de donnée

In [7]:
global_title.shape#Je vérifie le nombre de lignes pour vérifier si rien n'a était supprimer

(7872543, 11)

## Vérification des valeurs NaN

In [8]:
global_title.isna().sum()#J'observe s'il y a des valeurs NaN

tconst                  0
titleType               0
primaryTitle            9
originalTitle           9
isAdult                 0
startYear               0
endYear                 0
runtimeMinutes          0
genres                 10
averageRating     6723632
numVotes          6723632
dtype: int64

In [9]:
global_title.dropna(how="any",axis=0, inplace=True)#Je supprime les NaN

In [10]:
global_title.isna().sum()#Je vérifie si il me reste des NaN

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
averageRating     0
numVotes          0
dtype: int64

##Supression des colonnes inutile

In [12]:


global_title=global_title.drop(["primaryTitle","isAdult","endYear"],axis=1)

In [13]:
global_title.head()

      tconst titleType  ... averageRating numVotes
0  tt0000001     short  ...           5.7   1698.0
1  tt0000002     short  ...           6.1    211.0
2  tt0000003     short  ...           6.5   1457.0
3  tt0000004     short  ...           6.1    124.0
4  tt0000005     short  ...           6.1   2256.0

[5 rows x 8 columns]

##Premier filtrage de la base de donnée

In [15]:
global_title["genres"].unique()

array(['Documentary,Short', 'Animation,Short', 'Animation,Comedy,Romance',
       ..., 'Action,History,Western', 'Horror,Musical,Thriller',
       'Animation,Musical,Sport'], dtype=object)

Le client étant un cinéma nous nous concentrerons sur les titletype "movie"

In [16]:
global_movie=global_title[(global_title["titleType"]=="movie")]

##Valeurs manquantes

In [17]:
global_movie["startYear"].value_counts()

2017    9691
2018    9548
2016    9385
2019    9199
2015    9029
        ...
1975       1
1978       1
1980       1
1981       1
1902       1
Name: startYear, Length: 215, dtype: int64

In [18]:
global_movie["runtimeMinutes"].value_counts()

\N     27139
90     16243
95      7643
85      7447
100     7261
       ...
372        1
418        1
369        1
266        1
500        1
Name: runtimeMinutes, Length: 386, dtype: int64

In [19]:
global_movie["genres"].value_counts()

Drama                        44889
Documentary                  25293
Comedy                       22852
\N                           10105
Comedy,Drama                  8514
                             ...
Adventure,Musical,Western        1
Adventure,Horror,Western         1
Animation,Horror,Music           1
Biography,Crime,Horror           1
Fantasy,History,War              1
Name: genres, Length: 1262, dtype: int64

In [20]:
global_movie["averageRating"].value_counts()

6.4     9060
6.2     9032
6.8     8969
6.6     8896
6.5     8534
        ...
1.1       50
9.7       41
9.8       38
10.0      13
9.9        4
Name: averageRating, Length: 91, dtype: int64

Beaucoup de donnée ne sont pas présente dans la base de donnée (/N), nous décidons donc par manque d'information de supprimer les lignes ou certaine valeurs sont manquantes

In [ ]:
global_movie.drop(global_movie.loc[global_movie["startYear"]=='\\N'].index, inplace=True)
global_movie.drop(global_movie.loc[global_movie["runtimeMinutes"]=='\\N'].index, inplace=True)
global_movie.drop(global_movie.loc[global_movie["genres"]=='\\N'].index, inplace=True)

##Conversion des données

In [22]:
global_movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230318 entries, 570 to 7872391
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          230318 non-null  object
 1   titleType       230318 non-null  object
 2   originalTitle   230318 non-null  object
 3   startYear       230318 non-null  object
 4   runtimeMinutes  230318 non-null  object
 5   genres          230318 non-null  object
 6   averageRating   230318 non-null  float64
 7   numVotes        230318 non-null  float64
dtypes: float64(2), object(6)
memory usage: 15.8+ MB

In [ ]:
global_movie["startYear"]=pd.to_numeric(global_movie["startYear"])
global_movie["runtimeMinutes"]=pd.to_numeric(global_movie["runtimeMinutes"])
global_movie["averageRating"]=pd.to_numeric(global_movie["averageRating"])
global_movie["numVotes"]=pd.to_numeric(global_movie["numVotes"])
global_movie["numVotes"] = global_movie["numVotes"].astype(int)

In [24]:
global_movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 230318 entries, 570 to 7872391
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          230318 non-null  object
 1   titleType       230318 non-null  object
 2   originalTitle   230318 non-null  object
 3   startYear       230318 non-null  int64
 4   runtimeMinutes  230318 non-null  int64
 5   genres          230318 non-null  object
 6   averageRating   230318 non-null  float64
 7   numVotes        230318 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 15.8+ MB

In [25]:
global_movie

            tconst titleType  ... averageRating  numVotes
570      tt0000574     movie  ...           6.1       631
587      tt0000591     movie  ...           6.0         5
672      tt0000679     movie  ...           5.2        35
1172     tt0001184     movie  ...           3.4        11
1246     tt0001258     movie  ...           5.7       102
...            ...       ...  ...           ...       ...
7872208  tt9916160     movie  ...           6.5        42
7872222  tt9916190     movie  ...           3.4       137
7872261  tt9916270     movie  ...           5.7      1042
7872306  tt9916362     movie  ...           6.3      3129
7872391  tt9916538     movie  ...           8.3         6

[230318 rows x 8 columns]

#Exportation de la base de donnée

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
global_title.to_csv('globaltitle.csv')
!cp globaltitle.csv "drive/My Drive/"